.completed {
  text-decoration: line-through;
  color: #797979;
}

.novalue {
  color: #b7B7B7;
  font-weight: bolder;
}

table.mat-table {
  width: 100%;
}

.mat-column-id {
  width: 4%;
  text-align: center;
}

.mat-column-title {
  width: 35%;
}

.mat-column-priority {
  width: 14%;
}

.mat-column-category {
  width: 13%;
}

.mat-column-select {
  width: 3%;
}

.mat-column-delete {
  width: 4%;
}

.mat-column-edit {
  width: 4%;
}

.mat-column-color {
  width: 1% !important;
}

.mat-column-date {
  width: 15% !important;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  color: #9c27b0;
  font-size: 1.063rem;
  font-weight: normal;
}
