<div *ngIf="showStat" class="row">

  <app-stat-card
    [completed]="true"
    [count1]="completeTaskInCategory"
    [countTotal]="totalTaskInCategory"
    class="col-lg-3 col-md-6 col-sm-6"
    iconName="done"
    title="Завершенные задачи"
  >
  </app-stat-card>

  <app-stat-card
    [count1]="uncompleteTaskInCategory"
    [countTotal]="totalTaskInCategory"
    class="col-lg-3 col-md-6 col-sm-6"
    iconName="thumb_down_alt"
    title="Неавершенные задачи"
  >
  </app-stat-card>

  <app-stat-card
    [completed]="true"
    [count1]="completeTaskInCategory ?
      (completeTaskInCategory/totalTaskInCategory | percent) : '0 %'"
    class="col-lg-3 col-md-6 col-sm-6"
    iconName="poll"
    title="Процент завершенных задачи"
  >
  </app-stat-card>

  <app-stat-card
    [count1]="uncompleteTaskInCategory ?
      (uncompleteTaskInCategory/totalTaskInCategory | percent) : '0 %'"
    class="col-lg-3 col-md-6 col-sm-6"
    iconName="thumb_down_alt"
    title="Процент незавершенных задач"
  >
  </app-stat-card>

</div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Daily Sales</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
        </p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-warning">
        <div class="ct-chart" id="websiteViewsChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Email Subscriptions</h4>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> campaign sent 2 days ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-danger">
        <div class="ct-chart" id="completedTasksChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Completed Tasks</h4>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> campaign sent 2 days ago
        </div>
      </div>
    </div>
  </div>
</div>
