/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.not-found {
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.75);
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.size25 {
  font-size: 25px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.red {
  color: red;
  background-color: #ffe1e4;
}

.blue {
  color: #0b75c9;
}

.green {
  color: #006d18;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  color: #9c27b0;
  font-size: 1.063rem;
  font-weight: normal;
}
